* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@keyframes color-movement {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.lobby-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 50px;
	text-align: center;
	min-height: 100vh;
	height: 100%;
	background: linear-gradient(-45deg, #FF6B6B, #FFD166, #6BFFB8, #66B2FF);
	background-size: 400% 400%;
	animation: color-movement 15s ease infinite;
	color: #fff;
	overflow-x: hidden;
}

.lobby-title {
	font-size: 3em;
	font-weight: 800;
	margin-bottom: 0.5em;
	color: #fff;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
	padding: 0 10px;
}

.lobby-message {
	font-size: 1.2em;
	font-weight: 600;
	margin-bottom: 2em;
	color: #EEE;
	padding: 0 10px;
}

.players-list-wrapper {
	width: 90%;
	max-width: 400px;
	background: rgba(255, 255, 255, 0.3);
	border-radius: 10px;
	padding: 10px;
	margin-bottom: auto;
}

.players-list {
	list-style: none;
	padding: 0;
	text-align: left;
}

.player-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 15px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	color: #fff;
	font-weight: bold;
	font-size: 1.1em;
	position: relative;
}

.player-left {
	width: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.player-center {
	flex-grow: 1;
	text-align: center;
}

.player-right {
	width: 30px;
	display: flex;
	justify-content: flex-end;
}

.player-right:empty {
	visibility: hidden;
}

/* Icono */
.player-icon {
	font-size: 1.2em;
}

.remove-button {
	background: rgba(255, 0, 0, 0.7);
	color: white;
	border: none;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.2s;
}

.remove-button:hover {
	background: red;
}

.lobby-actions {
	width: 90%;
	max-width: 400px;
	padding: 20px 0;
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin-top: 20px;
}

.start-button,
.end-button {
	padding: 15px;
	border: none;
	border-radius: 8px;
	font-size: 1.1em;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.2s;
}

.start-button {
	background-color: #6BFFB8;
	color: #111;
}

.start-button:hover:not(:disabled) {
	background-color: #4cd89c;
}

.start-button.disabled {
	background-color: #ccc;
	cursor: not-allowed;
	opacity: 0.7;
}

.end-button {
	background-color: #FF6B6B;
	color: #fff;
}

.end-button:hover {
	background-color: #d85757;
}

.waiting-admin-message {
	font-size: 1.1em;
	font-style: italic;
	color: #fff;
	padding: 15px;
	background: rgba(0, 0, 0, 0.3);
	border-radius: 8px;
	width: 100%;
}

@media (min-width: 768px) {
	.lobby-title {
		font-size: 4em;
	}

	.lobby-actions {
		flex-direction: row;
		justify-content: space-between;
	}

	.start-button,
	.end-button {
		width: 48%;
	}
}
