.card-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.card-modal-content {
  background: #fff;
  padding: 30px 25px;
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 380px;
  text-align: center;
  color: #ddd;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  overflow: hidden;
  animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card-reveal-heading {
  color: #4CAF50;
}

.card-theme-container {
  padding: 10px;
  border-radius: 8px;
  border: 3px solid;

  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.impostor-theme .card-theme-container {
  border-color: #FF6B6B;
}

.impostor-theme .role-emphasis {
  color: #FF6B6B;
}

.crewmate-theme .card-theme-container {
  border-color: #4CAF50;
}

.crewmate-theme .role-emphasis {
  color: #4CAF50;
}

.role-title-modal {
  font-size: 1.6em;
  font-weight: 700;
  margin-bottom: 5px;
  letter-spacing: 0.5px;
  color: red;
}

.role-text-modal {
  font-size: 1.1em;
  margin-bottom: 5px;
  font-weight: 500;
  color: #ddd;
}

.role-emphasis {
  font-weight: bold;
}


.impostor-role-message {
  font-size: 1.4em;
  font-weight: 800;
  margin-top: 5px;
  letter-spacing: 0.5px;
}

.instruction-modal {
  font-size: 0.9em;
  line-height: 1.5;
  color: #ddd;
  margin-bottom: 10px;
  font-style: italic;
  padding: 0 10px;
}

.impostor-image-modal {
  width: 80%;
  max-height: 120px;
  object-fit: contain;
  margin: 10px auto;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
  animation: none;
}

.close-modal-button {
  background-color: #6BFFB8;
  /* Color verde/aceptar */
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  transition: background-color 0.2s;
  width: 90%;
  max-width: 250px;
  margin: 15px auto 0;
}

.close-modal-button:hover {
  background-color: #4cd89c;
}

.card-reveal-display {
  position: relative;
  width: 140px;
  height: 180px;
  margin: 0 auto;
  background-color: #1a1a1a;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

.card-name-modal {
  font-size: 1em;
  font-weight: bold;
  color: #eee;
  padding: 8px 5px;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  text-align: center;
}